apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: 'default'
  source:
    repoURL: https://argoproj.github.io/argo-helm
    chart: 'argo-cd'
    targetRevision: '9.2.4'
    helm:
      parameters:
        - name: 'server.service.type'
          value: 'LoadBalancer'        
      valuesObject:
        global:
          image:
            repository: 'quay.io/argoproj/argocd'
            tag: 'v3.2.3@sha256:9ab6baab65a6b283044a7d7b7dbe50f589564de9c8898d67c77d84b2b5df46bc'
        server:
          extensions:
            image:
              repository: 'quay.io/argoprojlabs/argocd-extension-installer'
              tag: 'v0.0.9@sha256:d2b43c18ac1401f579f6d27878f45e253d1e3f30287471ae74e6a4315ceb0611'
        dex:
          image:
            repository: 'ghcr.io/dexidp/dex'
            tag: 'v2.44.0@sha256:5d0656fce7d453c0e3b2706abf40c0d0ce5b371fb0b73b3cf714d05f35fa5f86'
        redis:
          exporter:
            image:
              repository: 'ghcr.io/oliver006/redis_exporter'
              tag: 'v1.80.1@sha256:bac9872da2b48e6eebbffb11517a5dcda59958eda51e1e4231eeb5dd516b4a5f'
          image:
            repository: 'public.ecr.aws/docker/library/redis'
            tag: '8.4.0-alpine@sha256:4eec4565e45aa0b3966554c866bc73211e281b0b3d89fe9a33c982e6faca809d'
        redis-ha:
          # disabled because renovate cannot dela with it and it is currently unused
          # exporter:
          #   image: 'ghcr.io/oliver006/redis_exporter'
          #   # renovate: datasource=docker depName=ghcr.io/oliver006/redis_exporter
          #   tag: 'v1.73.0@sha256:1a8f5e48b2af0fb02d182be3ddd623e7e39881b6464bdb5bf843b1f6d45ed050'
          image:
            repository: 'public.ecr.aws/docker/library/redis'
            tag: '8.4.0-alpine@sha256:4eec4565e45aa0b3966554c866bc73211e281b0b3d89fe9a33c982e6faca809d'
        configs:
          cm:
            "users.session.duration": '22h'
  destination:
    namespace: argocd
    name: in-cluster
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
