apiVersion: v1
kind: Secret
metadata:
  name: git-repo-plex
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: 'repository'
stringData:
  url: 'https://github.com/plexinc/pms-docker'
  type: 'git'
  project: 'default'
---
apiVersion: v1
kind: Secret
metadata:
  name: helm-repo-metallb
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: 'repository'
stringData:
  url: 'https://metallb.github.io/metallb'
  type: 'helm'
  project: 'default'
  name: 'MetalLB'
---
apiVersion: v1
kind: Secret
metadata:
  name: helm-repo-hashicorp
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: 'repository'
stringData:
  url: 'https://helm.releases.hashicorp.com/vault'
  type: 'helm'
  project: 'default'
  name: 'Hashicorp Vault'
---
apiVersion: v1
kind: Secret
metadata:
  name: helm-repo-bitnami
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: 'repository'
stringData:
  url: 'https://charts.bitnami.com/bitnami'
  type: 'helm'
  project: 'default'
  name: 'Bitnami'
---
apiVersion: v1
kind: Secret
metadata:
  name: helm-repo-argoproj
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: 'repository'
stringData:
  url: 'https://argoproj.github.io/argo-helm'
  type: 'helm'
  project: 'default'
  name: 'Argoproj'
---
apiVersion: v1
kind: Secret
metadata:
  name: helm-repo-longhorn
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: 'repository'
stringData:
  url: 'https://charts.longhorn.io/'
  type: 'helm'
  project: 'default'
  name: 'Longhorn'
---
apiVersion: v1
kind: Secret
metadata:
  name: helm-repo-k8sdashboard
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: 'repository'
stringData:
  url: 'https://kubernetes.github.io/dashboard/'
  type: 'helm'
  project: 'default'
  name: 'k8s dashboard'
---
apiVersion: v1
kind: Secret
metadata:
  name: nfs-csi
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: 'repository'
stringData:
  url: 'https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts'
  type: 'helm'
  project: 'default'
  name: 'NFS CSI driver'
---
apiVersion: v1
kind: Secret
metadata:
  name: bjw-s
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: 'repository'
stringData:
  url: 'https://bjw-s-labs.github.io/helm-charts'
  type: 'helm'
  project: 'default'
  name: 'bjw-s'
---
apiVersion: v1
kind: Secret
metadata:
  name: gabe565
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: 'repository'
stringData:
  url: 'https://charts.gabe565.com'
  type: 'helm'
  project: 'default'
  name: 'gabe565'
---
apiVersion: v1
kind: Secret
metadata:
  name: prometheus-community
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: 'repository'
stringData:
  url: 'https://prometheus-community.github.io/helm-charts'
  type: 'helm'
  project: 'default'
  name: 'Prometheus Community'