# Helm chart changelog: https://github.com/hashicorp/vault-helm/blob/main/CHANGELOG.md
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: hashicorp-vault-secrets-operator
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: 'default'
  source:
    repoURL: 'https://helm.releases.hashicorp.com'
    chart: 'vault-secrets-operator'
    targetRevision: '0.5.2'
    helm:
      valuesObject:
        kubeRbacProxy:
          image:
            repository: 'gcr.io/kubebuilder/kube-rbac-proxy'
            tag: 'v0.15.0'
        manager:
          image:
            repository: 'hashicorp/vault-secrets-operator'
            tag: '0.5.2'
  destination:
    namespace: 'hashicorp-vault-operator-system'
    name: in-cluster
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
# workaround for argcod problem (leave until https://github.com/argoproj/argo-cd/issues/11143#issuecomment-1664144190 is done)
  ignoreDifferences:
  - group: 'apps'
    kind: 'StatefulSet'
    name: 'mongodb'
    jqPathExpressions:
      - '.spec.volumeClaimTemplates[]?'