apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: 'longhorn-system'
    server: https://kubernetes.default.svc
  source:
    path: ''
    repoURL: https://charts.longhorn.io/
    targetRevision: 1.11.0
    chart: longhorn
    helm:
      parameters:
        - name: 'service.ui.type'
          value: 'LoadBalancer'
        - name: 'preUpgradeChecker.jobEnabled'
          value: 'false'
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=false
  ignoreDifferences:
    - name: 'longhorn-frontend'
      namespace: 'longhorn-system'
      kind: 'Service'
      jqPathExpressions:
        - '.spec.ports[] | select(.name=="http") | .nodePort'

    - group: 'apiextensions.k8s.io'
      namespace: ''
      kind: 'CustomResourceDefinition'
      jsonPointers:
        - '/spec/preserveUnknownFields'
      # could also specify name: 'engines.longhorn.io' to make it explicit
---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: longhorn-default
  namespace: longhorn-system
provisioner: driver.longhorn.io
allowVolumeExpansion: true
parameters:
  numberOfReplicas: "1"
  staleReplicaTimeout: "2880" # 48 hours in minutes
  fromBackup: ""
  fsType: "ext4"
#  backupTargetName: "default"
#  mkfsParams: "-I 256 -b 4096 -O ^metadata_csum,^64bit"
#  diskSelector: "ssd,fast"
#  nodeSelector: "storage,fast"
#  recurringJobSelector: '[
#   {
#     "name":"snap",
#     "isGroup":true,
#   },
#   {
#     "name":"backup",
#     "isGroup":false,
#   }
#  ]'

# see https://longhorn.io/docs/1.9.0/references/storage-class-parameters/ for details