apiVersion: v1
kind: Namespace
metadata:
  name: metallb-system
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metallb
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: 'default'
  sources:
  - repoURL: 'https://metallb.github.io/metallb'
    chart: 'metallb'
    targetRevision: '0.15.3'
    helm:
      valuesObject:
        speaker:
          image:
            repository: 'quay.io/metallb/speaker'
            tag: 'v0.15.3@sha256:c6a5b25b2e1fba610a57b2db4bb8141d7c133569d561a8cc29e38ca5113efbc4'
          frr:
            image:
              repository: 'quay.io/frrouting/frr'
              tag: '10.5.0@sha256:fc7f887ab4d8da06f481a4f8d59afded88b3c5823f03610a7e808f7eba45eeea'
        controller:
          image:
            repository: 'quay.io/metallb/controller'
            tag: 'v0.15.3@sha256:6698ccc54c380913816ed1fd0758637ec87dd79da419c4ab170a2c26c158ab89'
  - path: k8s/apps/app-of-infrastructure-apps/metallb
    repoURL: 'https://github.com/renklus/home-network'
    targetRevision: HEAD
  destination:
    namespace: metallb-system
    name: in-cluster
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
# workaround for MetalLB problem: leave until https://github.com/metallb/metallb/issues/1681 is fixed
  ignoreDifferences:
  - group: 'apiextensions.k8s.io'
    kind: 'CustomResourceDefinition'
    name: 'bgppeers.metallb.io'
    jsonPointers:
      - '/spec/conversion/webhook/clientConfig/caBundle'