apiVersion: v1
kind: ConfigMap
metadata:
  name: serverblock
  namespace: 'ssl-reverse-proxy'
data:
  serverBlock: |
    server { 
      listen 80; 
      server_name fws07l.dev.renklus.ch;
      location / {
        return 444;
      }
      location /.well-known {
        resolver 10.1.0.1;
        set $routerUrl $scheme://$host:8080/$request_uri;
        proxy_pass $routerUrl;
      }
    }
    server {
      listen 80;
      server_name anydevicename.dev.renklus.ch;
      location / {
        return 444;
      }
      location /.well-known {
        resolver 10.1.0.1;
        proxy_pass $scheme://$host$request_uri;
      }
    }
    server {
      listen 80;
      server_name "";
      return 444;
    }
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ssl-reverse-proxy
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://helm.nginx.com/stable'
    chart: 'nginx-ingress'
    targetRevision: '2.4.1'
    helm:
      valuesObject:
        controller:
          appprotect:
            configManager:
              image:
                repository: 'private-registry.nginx.com/nap/waf-config-mgr'
                tag: '5.8.0'
            enforcer:
              image:
                repository: 'private-registry.nginx.com/nap/waf-enforcer'
                tag: '5.8.0'
#        image:
#          tag: '1.29.1-debian-12-r0@sha256:b2e803958eda5723aae1e36ed0e418f6e0c79e7ce890820eba9cad85a6381286'
#          repository: 'bitnami/nginx'
#          registry: 'docker.io'
#      parameters:
#        - name: 'existingServerBlockConfigmap'
#          value: 'serverblock'
#        - name: 'service.type'
#          value: 'LoadBalancer'
  destination:
    name: 'in-cluster'
    namespace: 'ssl-reverse-proxy'
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
